.nowords {
    padding: 100px 0;
}

.message {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
    border-radius: 14px;
}
.text {
    max-width: 490px;

}
.nowords-title {
    max-width: 490px;
}

.btn-login {
    font-size: 16px !important;
}
@media screen and (max-width: 768px) {

    .nowords .image{
        max-width: 300px !important;
    }
}
@media screen and (max-width: 480px) {
    .nowords {
        padding: 100px 0;
        text-align: center;
    }
    .nowords-title {
        max-width: 231px;
        font-size: 24px !important;
    }
    .nowords .image{
        max-width: 60px !important;
    }
}