.no-statistics {
    padding: 6.25rem 0;
}

.message {
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
    border-radius: 0.875rem;

}

.no-statistics-title {
    max-width: 490px;
}

.btn-login {
    font-size: 1rem !important;
}
@media screen and (max-width: 768px) {

    .no-statistics .image{
        max-width: 300px !important;
    }
}
@media screen and (max-width: 480px) {
    .no-statistics {
        padding: 2.5rem 0;
        text-align: center;
    }
    .no-statistics-title {
        max-width: 21.93rem;
        font-size: 1.5rem !important;
    }
    .no-statistics .image{
        max-width: 60px !important;
    }
}