.user-statistics {
    padding: 6.25rem 0;

}
@media screen and (max-width: 768px) {
    .user-statistics {
        padding: 3.12rem 0;
    }
}
.statistics {
    display: flex;
    gap: 0.625rem;
}



.title {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 1.625rem !important;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #757575 !important;
    padding-bottom: 0.75rem;
    text-decoration: none !important;
    border-bottom: 3px solid transparent;

}

.title:hover {
    color: #383838 !important;
}

.title.active {
    color: #000000 !important;
    border-bottom: 3px solid #000000;
}

.info {
    flex: 1 1 37%;
    background: #FFFFFF;
    box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
    border-radius: 0.875rem;
    padding: 2.5rem;
}
@media screen and (max-width: 768px) {
    .info {
        padding: 0.93rem;
    }
  
}
.units {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000000;
}

.units span {
    color: #2B788B;
}

.img {
    max-width: 70px;
}

.counter {
    color: #000000;
}

.badge {
    font-size: 0.75rem;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #2B788B;
    padding: 0.25rem 0.5rem;
    background-color: #C3DCE3;
    border-radius: 6px;

}



.stats {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.chart {
    flex: 1 1 62%;
    display: flex;
    padding: 1.875rem 2.81rem;
    align-items: center;
    background-color: #ffffff;
}
@media screen and (max-width: 1200px) {
    .chart {
        flex: 1 1 100%;
        justify-content: center;
    }
    
}

@media screen and (max-width: 768px) {
    .chart {
        padding: 0.625rem 0.93rem;
    }
  
}

.chart path {
    transform: translate(0, -1.875rem);
}

.labels {
    bottom: -1.25rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .label {
    font-size: 0.875rem;
    color: #333;
  }