.game {
    margin: 100px 0;
}

.game .answer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.answer .audio-play {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid #2B788B;
    border-radius: 100px;
    opacity: 1;
    transition: all 0.3s linear;

}

.answer .audio-play span {
    color: #2B788B !important;
}

.answer .audio-play span.icon {
    font-size: 80px !important;
    font-weight: normal !important;
}

.answer .audio-play .label {
    font-weight: 700;
}

.answer .audio-play:hover {
    background-color: #2B788B;

}

.answer .audio-play:hover>span {
    color: #ffffff !important;
}

.answer .audio-play.active {
    opacity: 0;
    pointer-events: none;
}

.hearts li {
    color: #F2D4DC;

}

.hearts li.active {
    color: #A95151;

}

.words button {
    border: 3px solid #BABABA;
    border-radius: 100px;
    padding: 14px;
    line-height: 1 !important;
    letter-spacing: -0.04em;
    color: #BABABA !important;
    background-color: #F6F5F4;
    transition: all 0.15s ease;
}

.words button:hover {
    color: #919191 !important;
    border: 3px solid #919191;

}

.words button.rightAnswer {
    color: #2B788B !important;
    border: 3px solid #2B788B;

}

.words button.wrongAnswer {
    color: #945069 !important;
    border: 3px solid #945069;

}

.answer .answered {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 0.3s linear;
    opacity: 0;
}

.answer .answered.active {
    z-index: 1;
    opacity: 1;

}

.answer .answered img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.answered-word {
    transform: translate(0, -40px);
    background-color: #ffffff;
    box-shadow: 0px 22.8981px 45.7963px -11.4491px rgba(52, 41, 39, 0.08);
    border-radius: 88px;
    padding: 10px 20px;
    width: max-content;
    justify-self: center;
}

.answered-word .main-word {
    color: #000000;
}

.keys {
    background-color: #fff;
    font-size: 16px !important;
    padding: 3px;
    border-radius: 5px;
}