.e-course {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
}

.info {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-text {
    max-width: 400px;
}

.statistics {
    display: flex;
    width: 100%;
    gap: 80px
}
@media screen and (max-width: 768px) {
    .statistics {
        justify-content: center;

    }

}


.statistics-item {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -0.04em;
    display: flex;
}

@media screen and (max-width: 480px) {
    .statistics {
        gap: 1rem;
        justify-content: center;

    }
    .statistics-item {
        
        font-size: 1.4rem;
        
    }
}
.statistics-item span {
    color: #2B788B;
}

.statistics-item::before {
    content: url("/public/assets/icons/thunder.svg");

}

.statistics-name {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
}

@media screen and (max-width: 768px) {
    .info {
        max-width: unset;
        text-align: center;
        align-items: center;
    }


    .main-text {
        max-width: unset;
    }

}

@media screen and (max-width: 480px) {
    .info {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .main-title {
        font-size: 2rem !important;
    }
}